{% extends "firstapp/course_base.html" %}
{% load staticfiles %}
{% block content %}
   
 <div class="row">
  <div class="col-md-12">
           <h1>SJCET's Python Class</h1>

            <br />
       </div>
 </div>
         <div class="row">
  <div class="col-md-12"><p class="text-justify">Welcome to St.John's Python Class -- this is a free class for people with a little bit of programming experience who want to learn Python. The class includes written materials, and lots of code exercises to practice Python coding. The first exercises work on basic Python concepts like strings and lists, building up to the later exercises which are full programs dealing with text files, processes, and http connections. The class is geared for people who have a little bit of programming experience in some language, enough to know what a "variable" or "if statement" is. Beyond that, you do not need to be an expert programmer to use this material.</p>
 </div>
 </div>                    
<div class="row">
  <div class="col-md-6"><p class="text-justify">To get started, the Python sections are linked at the left -- <a href="setup.html">Python Set Up</a> to get Python installed on your machine, Python Introduction for an introduction to the language, and then Python Strings starts the coding material, leading to the first exercise. The end of each written section includes a link to the code exercise for that section's material.</p>
           <p class="text-justify">This material was created by Dhvani Shah and Jeril Kuriakose working as Assistant Professors in the Department of Information Technology at St. John College of Engineering and Technology. Special thanks for the help from our SJCET colleague Vimal Ram. And special thanks to SJCET and our advisor Dr. Krishnamoorthy, director Mr. Thomas Lobo and principal Dr. Satish Takalikar for their enlightened generosity to organize this PyCodify workshop -- learn and enjoy!
</div>
  <div class="col-md-6"><img src="{% static 'home/img/portfolio/51.png' %}" class="img-responsive" alt="" ></div>
</div>

 <div class="row">
  <div class="col-md-12">
<h2>Python in News</h2>

<h3>Half of the high-paying jobs in America now require this skill</h3>
<h5>Published: June 22, 2016 11:00 a.m. ET</h5>
<p>
If terms like SQL, Python and JavaScript aren’t on your radar, employers may not be interested in hiring you.
Roughly half of the jobs in the top income quartile — defined as those paying $57,000 or more per year — are in occupations that commonly require applicants to have at least some computer coding knowledge or skill, according to an analysis of 26 million U.S. online job postings released this month by job market analytics firm Burning Glass and Oracle Academy, the philanthropic arm of Oracle focused on computer science education, in Redwood City, Calif. In simple terms, coders write the instructions that tell computers what to do; in-demand programming languages include SQL, Java, JavaScript, C# and Python......<a href="http://www.marketwatch.com/story/half-of-the-high-paying-jobs-in-america-now-require-this-skill-2016-06-21" target="_blank"><i>read more</i></a></p>


<h3>Python's role in developing real time embedded systems</h3>
<h5>Published: June 13, 2016</h5>
<p>
Python has become quite the trending program language over the last few years. Named after the famous Monty Python comedy group, the language is object oriented and interpreted (not compiled). This attribute has resulted in Python being adopted on platforms such as Linux and Windows, and on single board computers such as the Raspberry Pi. With such a wide and growing adoption, one might wonder if there is a place for Python in real-time embedded systems. There is. Below are five roles that developers may find Python playing in real-time embedded systems......<a href="http://www.edn.com/electronics-blogs/embedded-basics/4442206/Python-s-role-in-developing-real-time-embedded-systems" target="_blank"><i>read more</i></a></p>

<h3>5 high-paying tech jobs and how to land them</h3>
<h5>Published: May 22, 2016</h5>
<p>
<b>Back-End Engineer: $116,796/year (via Glassdoor)</b>

As the title suggests, back-end engineers run the back-ends of websites and applications.
This involves not only managing the databases and processes of the back-end, but also ensuring that the services and data needed by front-end engineers can be delivered safely and efficiently.
In order to become a successful back-end engineer, you’ll need to learn programming languages like Python and web frameworks like Ruby on Rails......<a href="http://thenextweb.com/offers/2016/05/24/5-high-paying-tech-jobs-land/" target="_blank"><i>read more</i></a></p>

<a href="https://www.google.co.in/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=python+programming&tbm=nws" target="_blank"><h3>More news on Python......</h3></a>

 </div>
 </div>  
{% endblock %}

